@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
   #ff000017 ) #e91e631f
}

  
/* width */
::-webkit-scrollbar {
    width: 100%;
    height: 10px
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #dfc2d5;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background:  #dfc2d5;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  rgb(190 24 93 );
}


/** Hide the `details` chevron icon in Firefox Browsers */
summary {
    list-style-type: none;
}

/** Hide the `details` chevron icon in Safari Browsers */
summary::-webkit-details-marker {
    display: none;
}

.text-position{
    text-align: center;
    color: #b74491;
    position: absolute;
    top: 20%;
    right: 32%;
    transform: translate(0px, -50px);  
    filter: drop-shadow(15px 14px 11px blue);
}

.imp-position{
   position: absolute;
   top: 5%;
   left: 21%;
}

.avatar{
  left:50%
}

.modal-position{
  position: absolute;
  left: 33%  !important;
  top:15% !important;
}

@media (max-width: 510px) {
  .avatar{
    left:44%
  }
  .modal-position{
    left:0 !important
  }
  .text-position{
        top: 9%;
    right: 0%;
    transform: translate(0px, -50%);
  }
  .nav-img{
    width:50px
  }
}

.back-main{
     width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background: linear-gradient(177deg, #d8728491, #828acbab);
    border-radius: 8px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.moving-border {  
  border-radius: 8px;
  position: relative;
  background: #eab9b9;
  padding: 4px;
}
.moving-border::before,
.moving-border::after {
  content: "";
   border-radius: 8px;
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(var(--angle), 
    #0b468e,  #4a9eb6, rgb(221, 135, 135));
  animation: rotate 15s linear infinite;
}
.moving-border::after {
  filter: blur(5px);
   border-radius: 8px;
}
@keyframes rotate {
  0%     { --angle: 0deg; }
  100%   { --angle: 360deg;
  }
}