@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
   #ff000017 ) #e91e631f
}

  
/* width */
::-webkit-scrollbar {
    width: 100%;
    height: 10px
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #dfc2d5;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background:  #dfc2d5;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  rgb(190 24 93 );
}


/** Hide the `details` chevron icon in Firefox Browsers */
summary {
    list-style-type: none;
}

/** Hide the `details` chevron icon in Safari Browsers */
summary::-webkit-details-marker {
    display: none;
}

.text-position{
    text-align: center;
    color: #b74491;
    position: absolute;
    top: 20%;
    right: 32%;
    transform: translate(0px, -50px);  
    filter: drop-shadow(15px 14px 11px blue);
}